.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: turquoise;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: thistle;
  /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: yellow;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo__place__header{
  position: absolute;
  z-index: 1;
  height: 31px;
  width: 154px;
  top: 30px;
  left:54px;
  background-color: tomato;
}

.header__title{
display: flex;
  width: 730px;
 left:64px;
background-color: violet;
}

.header__title__text{
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle{
  position: absolute;
  width: 386px;
  top: 30px;
  right: 64px;
  background-color: teal;
}

.header__link{
position: absolute;
top: 0;
width: 10px;
background-color: yellowgreen;
}
