.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto ;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  background-color:   #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
/* background-color: burlywood; */
display: flex;
position: relative;
  /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo__place__header{  /* 1*/
  position: absolute;
  z-index: 1;
  height: 31px;
  width: 154px;
  top: 30px;
  left:64px;

}

.header__title{   /* 2*/
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 730px;
  top: 30px;
  left:64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;

}



.header__subtitle{    /* 3*/
 position: absolute;
 z-index: 1;
 width: 388px;
 left: 64px;
 top: 600px;
 line-height: 25px;
 font-size: 18px;
 font-weight: normal;
 color: rgb(10, 7, 10);
}

.header__link{/* 4*/
color:  #2f80ed;
text-decoration: none;
  }

.header__main-illustration{ /*5*/
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  /* top:100px; */
  width: 756px;
  height: 608px;

}

.header__square-pic { /*6*/
  position:  absolute;
  z-index: 0;
  height: 569px;
  width: 568px;
  background-color: rgb(6, 153, 252);
  left: 750px;
  top: 64px;
}

.description{
  display: flex;

  justify-content: center;
  align-self: center;

  padding: 120px  100px;
  background-color: rgb(251, 244, 145);
}

.description__two-columns{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.description__two-columns__brief{
  color:  #2f80ed;
  text-decoration: none;
  width:175px ;
  background-color: cyan;
  line-height: 1.2;
  font-size: 18px;
}

.description__two-columns__main-text{
  line-height: 1.2;

  font-size: 18px;
  font-style: normal;
  width: 80%;
  min-width: 784px;
  background-color: rgb(149, 146, 146);
  padding: 0px;
}

.description__two-columns__paragraph{
  line-height: 24px;
  line-break: 30px;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: normal;

  background-color: rgb(253, 186, 186);
}

.description__two-columns__span-accent{
  line-height: 12px;
  background-color: greenyellow;
  font-weight: bold;
}



.digits{
margin: 100px;

}

.digits__section_title{
  bottom: 20px;
  top: 100px;
  width: 60%;
  font-weight: bold;
  background-color: greenyellow;
 left: 100px;
}

.digits__section_subtitle{
width: 60%;
font-weight: bold;
background-color: indianred;
}

.table{
display: flex;
width: 1100px;
background-color: lightblue;
}

.digit__table_cell{
 line-break: 60px;
 width: 250px;
 background-color: lightsalmon;
}

